/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: wheat;
}

p{
    color:firebrick;
    font-weight: bold;
}

#nom{
    color: blue;
    text-decoration: underline;
}

.activee{
    background-color: yellowgreen;
    
}